<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /><!-- 将表中的下划线转换成驼峰进行匹配model中的字段 -->
	</settings>

	<!-- <plugins> -->
		<!-- 分页插件PageHelper -->
		<!-- <plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mysql" />
		</plugin> -->
	<!-- </plugins> -->
</configuration>