<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicbox.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.magicbox.model.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="member_open_id" jdbcType="VARCHAR" property="memberOpenId" />
    <result column="seller_id" jdbcType="BIGINT" property="sellerId" />
    <result column="shop_code" jdbcType="VARCHAR" property="shopCode" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="product_quantity" jdbcType="INTEGER" property="productQuantity" />
    <result column="product_img" jdbcType="VARCHAR" property="productImg" />
    <result column="due_total" jdbcType="INTEGER" property="dueTotal" />
    <result column="real_total" jdbcType="INTEGER" property="realTotal" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="pay_way" jdbcType="TINYINT" property="payWay" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="pay_code" jdbcType="VARCHAR" property="payCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_code, order_status, member_id, member_open_id, seller_id, shop_code, product_code, 
    product_name, product_price, product_quantity, product_img, due_total, real_total, 
    discount, pay_way, pay_time, pay_code, create_time, update_time, create_user, update_user
  </sql>
  <select id="selectByExample" parameterType="com.magicbox.model.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ord_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ord_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ord_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.magicbox.model.OrderExample">
    delete from t_ord_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.magicbox.model.Order">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ord_order (order_code, order_status, member_id, 
      member_open_id, seller_id, shop_code, 
      product_code, product_name, product_price, 
      product_quantity, product_img, due_total, 
      real_total, discount, pay_way, 
      pay_time, pay_code, create_time, 
      update_time, create_user, update_user
      )
    values (#{orderCode,jdbcType=VARCHAR}, #{orderStatus,jdbcType=TINYINT}, #{memberId,jdbcType=BIGINT}, 
      #{memberOpenId,jdbcType=VARCHAR}, #{sellerId,jdbcType=BIGINT}, #{shopCode,jdbcType=VARCHAR}, 
      #{productCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=INTEGER}, 
      #{productQuantity,jdbcType=INTEGER}, #{productImg,jdbcType=VARCHAR}, #{dueTotal,jdbcType=INTEGER}, 
      #{realTotal,jdbcType=INTEGER}, #{discount,jdbcType=INTEGER}, #{payWay,jdbcType=TINYINT}, 
      #{payTime,jdbcType=TIMESTAMP}, #{payCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.magicbox.model.Order">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ord_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="memberOpenId != null">
        member_open_id,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="shopCode != null">
        shop_code,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productQuantity != null">
        product_quantity,
      </if>
      <if test="productImg != null">
        product_img,
      </if>
      <if test="dueTotal != null">
        due_total,
      </if>
      <if test="realTotal != null">
        real_total,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="payWay != null">
        pay_way,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="payCode != null">
        pay_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="memberOpenId != null">
        #{memberOpenId,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="shopCode != null">
        #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="productQuantity != null">
        #{productQuantity,jdbcType=INTEGER},
      </if>
      <if test="productImg != null">
        #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="dueTotal != null">
        #{dueTotal,jdbcType=INTEGER},
      </if>
      <if test="realTotal != null">
        #{realTotal,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="payWay != null">
        #{payWay,jdbcType=TINYINT},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payCode != null">
        #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.magicbox.model.OrderExample" resultType="java.lang.Long">
    select count(*) from t_ord_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_ord_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderCode != null">
        order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null">
        order_status = #{record.orderStatus,jdbcType=TINYINT},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.memberOpenId != null">
        member_open_id = #{record.memberOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerId != null">
        seller_id = #{record.sellerId,jdbcType=BIGINT},
      </if>
      <if test="record.shopCode != null">
        shop_code = #{record.shopCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null">
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productPrice != null">
        product_price = #{record.productPrice,jdbcType=INTEGER},
      </if>
      <if test="record.productQuantity != null">
        product_quantity = #{record.productQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.productImg != null">
        product_img = #{record.productImg,jdbcType=VARCHAR},
      </if>
      <if test="record.dueTotal != null">
        due_total = #{record.dueTotal,jdbcType=INTEGER},
      </if>
      <if test="record.realTotal != null">
        real_total = #{record.realTotal,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=INTEGER},
      </if>
      <if test="record.payWay != null">
        pay_way = #{record.payWay,jdbcType=TINYINT},
      </if>
      <if test="record.payTime != null">
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payCode != null">
        pay_code = #{record.payCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_ord_order
    set id = #{record.id,jdbcType=BIGINT},
      order_code = #{record.orderCode,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=TINYINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      member_open_id = #{record.memberOpenId,jdbcType=VARCHAR},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      shop_code = #{record.shopCode,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_price = #{record.productPrice,jdbcType=INTEGER},
      product_quantity = #{record.productQuantity,jdbcType=INTEGER},
      product_img = #{record.productImg,jdbcType=VARCHAR},
      due_total = #{record.dueTotal,jdbcType=INTEGER},
      real_total = #{record.realTotal,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=INTEGER},
      pay_way = #{record.payWay,jdbcType=TINYINT},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      pay_code = #{record.payCode,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.magicbox.model.Order">
    update t_ord_order
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="memberOpenId != null">
        member_open_id = #{memberOpenId,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="shopCode != null">
        shop_code = #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="productQuantity != null">
        product_quantity = #{productQuantity,jdbcType=INTEGER},
      </if>
      <if test="productImg != null">
        product_img = #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="dueTotal != null">
        due_total = #{dueTotal,jdbcType=INTEGER},
      </if>
      <if test="realTotal != null">
        real_total = #{realTotal,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="payWay != null">
        pay_way = #{payWay,jdbcType=TINYINT},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payCode != null">
        pay_code = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magicbox.model.Order">
    update t_ord_order
    set order_code = #{orderCode,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=TINYINT},
      member_id = #{memberId,jdbcType=BIGINT},
      member_open_id = #{memberOpenId,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=BIGINT},
      shop_code = #{shopCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=INTEGER},
      product_quantity = #{productQuantity,jdbcType=INTEGER},
      product_img = #{productImg,jdbcType=VARCHAR},
      due_total = #{dueTotal,jdbcType=INTEGER},
      real_total = #{realTotal,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      pay_way = #{payWay,jdbcType=TINYINT},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_code = #{payCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>